__pycache__/snake.cpython-37.pyc
__pycache__/snake.cpython-38.pyc
__pycache__/game.cpython-38.pyc
__pycache__/game.cpython-37.pyc
__pycache__/config.cpython-38.pyc
__pycache__/config.cpython-37.pyc
__pycache__/apple.cpython-38.pyc
__pycache__/apple.cpython-37.pyc
